<section class="eateries">
  <h1>All eateries</h1>

  <ul>
    <% @eateries.each do |eatery| %>
      <li><%= link_to eatery.name, eatery_path(eatery) %></li>
    <% end %>
  </ul>

  <p class="resource-actions">
    <%= link_to "Add a new eatery", new_eatery_path %>
  </p>
</section>
