$coreColour: #008C9E;
$coreHover: #007482;
$coreBorder: #00606d;

$intentError: #cf3f43;
$intentNotice: #7cb647;

$fontStack: Helvetica, Arial, sans-serif;

body {
  background: #fdfdfd;
  font-family: $fontStack;
  font-size: 100%;
  line-height: 1em;
}

header {
  background: $coreColour;
  border-bottom: 3px solid $coreBorder;

  h1 {
    font-size: 1.4rem;
    line-height: 1em;
    font-weight: bold;
    padding: 0;

    a {
      display: block;
      color: #fff;
      padding: 0.85rem 1rem;
      text-decoration: none;
    }

    a:hover, a:active {
      background: $coreHover;
    }
  }
}

.user {
  font-size: 0.9rem;
  line-height: 0.95rem;
  background: #f8f8f8;
  border-bottom: 1px solid #d9d9d9;
  padding: 0.6rem 1rem;
  text-align: right;

  a {
    display: inline-block;
    padding-left: 0.5rem;
    color: #888;

    &:hover {
      color: #333;
    }
  }
}

h1, h2, h3, h4 { font-weight: bold; line-height: 1.6rem; padding: 0.5rem 0; }
h1 { font-size: 1.4rem; }
h2 { font-size: 1.2rem; }

p { padding: 0.5rem 0; font-size: 1rem; line-height: 1.6rem; }

.message {
  margin: 0.5rem 0;
  padding: 0.85rem;
  font-weight: bold;
  background: #eee;

  &.message-error {
    background: $intentError;
    color: #fff;
  }

  &.message-notice {
    background: $intentNotice;
    color: #fff;
  }
}
