.eateries {
  h1 {
    margin: 1rem;
  }

  ul {
    display: block;
  }

  li {
    border-bottom: 1px solid #ddd;

    &:first-of-type {
      border-top: 1px solid #ddd;
    }

    a {
      display: block;
      padding: 0.75rem 1rem;
      color: #000;
      text-decoration: none;

      &:hover {
        background: $coreColour;
        color: #fff;
      }
    }
  }
}

.eatery {
  h1 {
    margin: 0 1rem;
    padding: 1rem 0 0;
  }
  .lead-metadata {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    color: #488f46;

    li { display: inline-block; padding-right: 0.8rem; }
  }

  .map {
    background: #eee;
    background-size: cover;
    background-position: center center;
    margin: 0.5rem 0;
    display: none;

    &.max-width-320 {
      @media (max-width: 640px){
        display: block;
        height: 180px;
      }
    }
    &.max-width-640 {
      @media (min-width: 640px) and (max-width: 960px){
        display: block;
        height: 280px;
      }
    }
    &.max-width-960 {
      @media (min-width: 960px){
        display: block;
        height: 220px;
      }
    }
  }

  .recommendations {
    margin: 1rem;

    p { font-size: 0.9rem; padding: 0; }

    ul {
      margin: 0.5rem 0 0.8rem;
    }

    li {
      display: inline-block;
      border-radius: 50%;
      background: #ccc;
      width: 35px;
      height: 35px;
      text-indent: -9999px;
      background-size: 100%;
    }
  }

  form {
    margin: 1em;
  }
}

.eateries, .eatery {
  .resource-actions {
    margin: 1em;

    a {
      @extend .btn;
    }
  }
}
